@media print {
  body {
    font-size: 8pt;
  }

  a[href^="http"]:after {
    content: " <" attr(href) ">";
  }

  a {
    text-decoration: none;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-size: smaller;
  }
}
