html {
  --scale: 1.3;
  --design-size: 18px;
  --medium: clamp(1em, var(--design-size) + .1vw, 1.5em);
  font-size: var(--medium);
  --xxx-large: calc(1rem * pow(var(--scale),   4));
  --xx-large: calc(1rem * pow(var(--scale),   3));
  --x-large: calc(1rem * pow(var(--scale),   2));
  --large: calc(1rem * pow(var(--scale),   1));
  --small: calc(1rem * pow(var(--scale),  -.5));
  --x-small: calc(1rem * pow(var(--scale),  -1));
  --xx-small: calc(1rem * pow(var(--scale),  -2));
}

:root {
  --space-m3: .25lh;
  --space-m2: .5lh;
  --space-m1: .75lh;
  --space-0: 1lh;
  --space-1: 1.25lh;
  --space-2: 1.5lh;
  --space-3: 1.75lh;
  --space-4: 2lh;
  --space-m3-m2: clamp(var(--space-m3), calc(var(--space-m2) - var(--space-m3) / 2),  var(--space-m2));
  --space-m2-m1: clamp(var(--space-m2), calc(var(--space-m1) - var(--space-m2) / 2),  var(--space-m1));
  --space-m1-0: clamp(var(--space-m1), calc(var(--space-0)  - var(--space-m1) / 2),  var(--space-0));
  --space-0-1: clamp(var(--space-0),  calc(var(--space-1)  - var(--space-0)  / 2),  var(--space-1));
  --space-1-2: clamp(var(--space-1),  calc(var(--space-2)  - var(--space-1)  / 2),  var(--space-2));
  --space-2-3: clamp(var(--space-2),  calc(var(--space-3)  - var(--space-2)  / 2),  var(--space-3));
  --space-3-4: clamp(var(--space-3),  calc(var(--space-4)  - var(--space-3)  / 2),  var(--space-4));
  --space-m3-1: clamp(var(--space-m3),  calc(var(--space-1) - var(--space-m3) / 2),  var(--space-1));
  --space-m1-2: clamp(var(--space-m1),  calc(var(--space-2) - var(--space-m1) / 2),  var(--space-2));
  --space-2-4: clamp(var(--space-2),   calc(var(--space-4) - var(--space-2)  / 2),  var(--space-4));
  --gutter: var(--space-m1-0);
  --border-radius: var(--space-m3);
  --tracking: -.05ch;
  --success-color: green;
  --info-color: darkblue;
  --warning-color: orange;
  --error-color: red;
  --transition-base: .25s ease;
  --transition-movement: .2s linear;
  --transition-fade: .2s ease;
  --transition-bounce: .5s cubic-bezier(.5, .05, .2, 1.5);
  --sans-font: sans-serif;
  --serif-font: serif;
  --mono-font: monospace;
  --border-width: 1px;
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #fd3;
  --disabled: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #bbb;
    --disabled: #111;
  }
}

*, :before, :after {
  box-sizing: border-box;
  font-size-adjust: ex-height .5;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  scrollbar-gutter: stable;
}

input:user-invalid {
  border-color: var(--error-color, red);
}

input:user-valid {
  border-color: var(--success-color, green);
}

textarea:not([rows]) {
  field-sizing: content;
  min-height: 5lh;
}

textarea:not([cols]) {
  width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

img, picture {
  object-fit: cover;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

abbr[title] {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

:target {
  scroll-margin-block: 5ex;
}

body {
  min-height: 100dvh;
}

.grid {
  grid-template-columns: repeat(var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-m1-0));
  display: grid;
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.grid[data-rows="masonry"] {
  grid-template-rows: masonry;
  align-items: start;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.region {
  padding-top: var(--region-space, var(--space-2-4));
  padding-bottom: var(--region-space, var(--space-2-4));
}

.wrapper {
  max-width: var(--wrapper-max-width, 85rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  body.animate-theme-switcher {
    transition: color var(--animation-fade, 1s ease-out),
      background-color var(--animation-fade, 1s ease-out);
  }

  @view-transition {
    navigation: auto;
  }
}

@media print {
  @page {
    margin: 1cm;
  }

  body {
    font-size: 8pt;
    display: block;
  }

  p {
    widows: 3;
    orphans: 3;
  }

  hr {
    background-color: gray;
  }

  figure, fieldset, img {
    break-inside: avoid;
  }

  pre code {
    white-space: pre-wrap;
  }

  details::details-content, details:not([open])::details-content {
    display: contents;
  }

  fieldset, input, textarea, select {
    border-radius: unset;
    border: 1px solid gray;
  }

  article {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  a[href^="http"]:after {
    content: " <" attr(href) ">";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-size: smaller;
  }

  .dont-print, progress, input[type="file"], button[command], canvas {
    display: none;
  }
}

header nav ul, header nav ol {
  flex-flow: wrap;
  place-content: space-around center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  display: flex;
}

header nav ul li, header nav ol li {
  display: inline-block;
}

header nav a, header nav a:visited {
  color: var(--text);
  padding: var(--space-m2);
  border-block-end: calc(var(--border-width) * 2) solid transparent;
  text-decoration: none;
  display: inline-block;
}

header nav a:hover, header nav a.current, header nav a[aria-current="page"], header nav a[aria-current="true"] {
  border-block-end: 2px solid var(--accent);
  color: var(--accent);
  cursor: pointer;
}

@media only screen and (width <= 720px) {
  header nav a {
    line-height: 1;
  }
}

figure:has(blockquote) {
  margin-inline: var(--space-0);
}

blockquote, figure:has(blockquote) {
  border-inline-start: calc(var(--border-width) * 5) solid var(--accent);
}

figure > blockquote {
  padding-inline: var(--space-m1);
  border: none;
  margin-inline: 0;
}

blockquote {
  padding-inline: var(--space-0);
  margin-inline: var(--space-0);
  color: var(--text-light);
  font-style: italic;
}

blockquote + figcaption {
  padding-inline: var(--space-m1);
}

blockquote > cite {
  display: inline-block;
}

figcaption, blockquote > cite {
  font-size: var(--x-small);
  color: var(--text-light);
  margin-block-start: var(--space-m1);
}

cite {
  color: var(--text-light);
  font-style: normal;
}

code, pre, pre span, kbd, samp {
  font-family: var(--mono-font);
  color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: var(--border-width) solid var(--preformatted);
  border-bottom: calc(var(--border-width) * 3) solid var(--preformatted);
  border-radius: var(--border-radius);
  padding: .05lh .2lh;
}

pre {
  padding: var(--space-0) var(--space-1);
  max-width: 100%;
  color: var(--preformatted);
  overflow: auto;
}

pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin: var(--space-1) 0;
}

figure:has( > table), details:has( > table) {
  overflow-x: auto;
}

figure > table {
  width: max-content;
  margin: 0;
}

td, th {
  border: var(--border-width) solid var(--border);
  text-align: start;
  padding: var(--space-m1) var(--space-m2);
}

th {
  background-color: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(2n) {
  background-color: var(--accent-bg);
}

table caption {
  margin-bottom: var(--space-0);
  font-weight: bold;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  padding: var(--space-m2);
  border-radius: var(--border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

button, .button, a.button, input[type="submit"], input[type="reset"], input[type="button"] {
  border: var(--border-width) solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-text);
  padding: var(--space-m2);
  width: fit-content;
  line-height: normal;
  text-decoration: none;
}

.button[aria-disabled="true"], input:disabled, textarea:disabled, select:disabled, button[disabled] {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--text-light);
}

input[type="range"] {
  padding: 0;
}

button:enabled:hover, .button:not([aria-disabled="true"]):hover, input[type="submit"]:enabled:hover, input[type="reset"]:enabled:hover, input[type="button"]:enabled:hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
  cursor: pointer;
}

.button:focus-visible, button:focus-visible:where(:enabled), input:enabled:focus-visible:where([type="submit"], [type="reset"], [type="button"]) {
  outline: calc(var(--border-width) * 2) solid var(--accent);
  outline-offset: 1px;
}

fieldset {
  border: var(--border-width) dotted var(--border);
  padding: var(--space-0);
  border-radius: var(--border-radius);
}

textarea, select, input {
  padding: var(--space-m2);
  border-radius: var(--border-radius);
  box-shadow: none;
  max-width: 100%;
  color: var(--text);
  background-color: var(--bg);
  border: var(--border-width) solid var(--border);
  accent-color: var(--accent);
  display: inline-block;
}

label {
  display: block;
}

label:has(input) {
  alignment-baseline: middle;
  display: flex;
}

label > input {
  margin-inline-end: var(--space-m3);
}

input + label {
  display: inline-block;
}

@media only screen and (width <= 720px) {
  textarea, select, input, label {
    width: 100%;
  }

  label > input {
    width: auto;
  }

  li:has(input + label) {
    display: flex;
  }

  input[type="checkbox"], input[type="radio"] {
    width: auto;
  }
}

input[type="color"] {
  height: var(--space-2);
  padding: var(--space-m3);
}

input[type="file"] {
  border: 0;
}

ul[class], ol[class] {
  padding-inline-start: unset;
  list-style-type: none;
}

.notice {
  border-radius: var(--border-radius);
  padding: var(--space-0);
  margin-block: var(--space-0);
}

.notice.info {
  background: var(--info-color);
  color: contrast-color(var(--info-color));
}

.notice.success {
  background: var(--success-color);
  color: contrast-color(var(--success-color));
}

.notice.warning {
  background: var(--warning-color);
  color: contrast-color(var(--warning-color));
}

.notice.error {
  background: var(--error-color);
  color: contrast-color(var(--error-color));
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--serif-font);
  margin: 0;
}

body > header {
  background-color: var(--accent-bg);
  border-bottom: var(--border-width) solid var(--border);
  font-size: var(--large);
  text-align: center;
  padding: var(--space-1);
}

body > footer {
  padding: var(--space-1);
  color: var(--text-light);
  font-size: var(--xx-small);
  text-align: center;
  border-block-start: var(--border-width) solid var(--border);
  margin-block-start: 4rem;
}

a, a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: var(--xxx-large);
}

h2 {
  font-size: var(--xx-large);
}

h3 {
  font-size: var(--x-large);
}

h4 {
  font-size: var(--large);
}

h5 {
  font-size: var(--medium);
}

h6 {
  font-size: var(--small);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-block-start: 1lh;
}

dt {
  color: var(--text-light);
}

section {
  --region-space: var(--space-0-1);
}

dialog {
  background-color: var(--bg);
  max-width: 66vw;
  margin: auto;
}

dialog::backdrop {
  background-color: var(--bg);
  opacity: .8;
}

summary {
  cursor: pointer;
  word-break: break-word;
  font-weight: bold;
}

details {
  margin-block: 1lh;
}

progress {
  accent-color: var(--accent);
}

aside {
  background-color: var(--accent-bg);
  border: var(--border-width) dotted var(--border);
  border-radius: var(--border-radius);
  max-width: 33%;
  padding: var(--space-0);
  float: right;
  margin-block-end: var(--space-0);
  margin-inline-start: var(--space-0);
  padding-block-start: 0;
}

[dir="rtl"] aside {
  float: left;
}

mark {
  background-color: var(--marked);
  color: contrast-color(var(--marked));
  padding: 0 .5ex;
}

mark a {
  color: var(--accent);
}

@media only screen and (width <= 720px) {
  aside {
    float: none;
    max-width: 100%;
    margin-inline-start: 0;
  }
}

hr {
  width: 100%;
  height: var(--border-width);
  background: var(--accent);
  margin: var(--space-1) auto;
  border: none;
}

@media print {
  body > header {
    background-color: unset;
  }

  body > header nav, body > footer {
    display: none;
  }
}
