:root {
  --bg-color: #191919;
  --text-color: #aaa;
  --header-color: #fff;
  --logo-fg-color: #fff;
  --logo-bg-color: #000;
  --link-color: #00b6f0;
  --visited-link-color: #666;
  --active-link-color: lightblue;
  --muted-border-color: #323232;
  --muted-bg-color: #222;
}
