:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --header-color: #000;
  --logo-text-color: #000;
  --logo-bg-color: #7dbf1e;
  --link-color: #03c;
  --visited-link-color: #006;
  --active-link-color: #006;
  --muted-border-color: #323232;
  --muted-bg-color: #222;
}
